    /*###############
      map and list views
      ###############*/
    /* map and list div */
        /* general page structure used on every template due to the formatting of the landing page */
    .main-content{
        @apply pb-20 flex justify-center items-center p-2 md:p-10
        }
    .sub-content{
        @apply md:max-w-2xl
    }
    
    .sub-content-wide{
      @apply max-w-[1400px]
    }


    /* dividers */
    .content-divide-y{
      @apply divide-y-2 divide-primary-700
    }
    .content-divide-y-secondary{
      @apply divide-y-2 divide-secondary-700
    }
    .content-divide-y-light{
      @apply divide-y-2 divide-primary-300
    }
    .content-divide-y-light-secondary{
      @apply divide-y-2 divide-secondary-300
    }    
    .content-divide-y-light-neutral{
      @apply divide-y-2 divide-neutral-300
    }    

    .content-divide-x{
      @apply divide-x-2 divide-primary-700
    }
    .content-divide-x-secondary{
      @apply divide-x-2 divide-secondary-700
    }
    .content-divide-x-light{
      @apply divide-x-2 divide-primary-300
    }
    .content-divide-x-light-secondary{
      @apply divide-x-2 divide-secondary-300
    }    
    .content-divide-x-light-neutral{
      @apply divide-x-2 divide-neutral-300
    }    



    /* List view div */
    .list-view{
      @apply flex flex-col 
    }

    .pagination-button{
      @apply 
      join-item /* needed for daisyUI */
      btn 
      md:btn-lg
      btn-md
      font-semibold
      lg:w-12
      md:w-8
      w-6  
      text-primary-800
      bg-primary-200
      hover:rounded-none 
    }

    .pagination-button-active-page{
      @apply
      text-primary-900
      font-bold 
      bg-primary-300
      min-w-10
    }
    .pagination-button-last-left{
      @apply rounded-l-xl hover:rounded-l-xl w-6 min-[500px]:w-18 md:w-24 
    }
    .pagination-button-last-right{
      @apply rounded-r-xl hover:rounded-r-xl w-6 min-[500px]:w-18 md:w-24 
    }




    .search-bar-container{
      @apply 
      relative flex items-center w-auto h-12 
      rounded-lg shadow-md overflow-hidden bg-primary-100
      form-field-text p-0 
    }
    .search-bar-container-icon{
      @apply
      grid place-items-center h-full w-12 bg-primary-200
    }
    .search-bar{
      @apply
      h-full w-full 
      outline-none 
      text-sm pr-2 pl-2 
      text-primary-900
      placeholder-text
      bg-white
    }




    /* =============== old =============== */


    .listMapDiv{
        @apply w-full flex flex-col
      }
       

  
      /*###############
        detail views
        ###############*/
      /* main div containing detail-view elements */
      .detailDiv{
        @apply bg-primary-200 grow w-full 
        flex flex-col place-items-center p-10 
        max-w-(--breakpoint-lg)
      }
      
      /*###############
        Components
        ###############*/
      /* top Map List tabLinks */
      .tabLinksParent{
        @apply flex justify-center items-center
      }

          /*###############
      general elements
      ###############*/
    /* .dividers{
      @apply divide-y divide-primary-700
    } */
    .detailEntryDiv{
        @apply w-full pt-5 pb-5
      }
      .detailEntrySub1{
        @apply w-1/3 text-left
      }
      .detailEntrySub2{
        @apply w-full
      }

    /*###############
    various
    ###############*/

      .tabs-div{
        @apply   p-6 min-h-28 
      }