@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* imports of general styles */
@import './generalStyles/icons.css';
@import './generalStyles/daisyUI.css';
@import './generalStyles/utilities.css';
@import './generalStyles/pages.css';
@import './generalStyles/divs.css';
@custom-variant hover (&:hover);

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}



@layer base {

  h1 {
      @apply text-5xl font-bold text-center p-10;
    }

    h2 {
      @apply text-4xl text-center;
    }

    h3 {
      @apply text-3xl text-center;
    }

    h4 {
      @apply text-2xl  text-center;
    }

    h5 {
      @apply text-xl text-center;
    }

    h6 {
      @apply text-lg text-center;
    }

    a {
      @apply no-underline;
    }

    p {
      @apply pt-2 pb-2 text-justify;
    }



    /* nav */
    .nav-button {
      @apply p-1 md:p-2 lg:p-4 btn rounded-none btn-ghost text-primary-800
    }

    .nav-button-sub {
      @apply no-underline text-primary-800
    }



    .search-bar{
      @apply h-full w-full outline-hidden text-sm pr-2
    }

    .search-div-list{
      @apply h-full w-full outline-hidden text-sm pr-2
    }

    .search-div-filters{
      @apply h-full w-full outline-hidden text-sm pr-2
    }


    /* all the word cards including the parent */


    .word-card-parent{
      @apply 
      flex flex-wrap 
      justify-center
      /* items-start */
      /* items-stretch */
      content-start
      gap-2 w-full
    }

    .word-card{
      @apply 
      rounded-xl 
      border 
      border-neutral-400
      hover:border-neutral-900
      text-base
      p-1 pr-2 pl-2
      bg-neutral-200 text-neutral-900
      subpixel-antialiased
    }
    .word-card-collapser{
      @apply bg-primary-300 shadow-lg
    }

    /*###############
    various
    ###############*/
    .index-opacity-parent{
      @apply bg-primary-200 text-primary-900 opacity-100 p-8 rounded-lg max-w-md
    }
    .index-opacity-child{
      @apply opacity-100
    }




    
    /*###############
    footer
    ###############*/
    .link-list-item{
      @apply flex flex-col gap-2 w-32
    }


    /*###############
    other
    ###############*/
    .timeline-line-element{
      @apply py-5
    }


}

@layer base {
  /*###############
tippy theme
###############*/

  .tippy-box[data-theme~='msl'] {
    @apply bg-info-300;
  }
}








